<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="file_cabinetEntities" connectionString="metadata=res://*/Model.FileModel1.csdl|res://*/Model.FileModel1.ssdl|res://*/Model.FileModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7GRM78G5;initial catalog=file_cabinet;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="file_cabinetEntities1" connectionString="metadata=res://*/Model.file_cabinetModel1.csdl|res://*/Model.file_cabinetModel1.ssdl|res://*/Model.file_cabinetModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7GRM78G5;initial catalog=file_cabinet;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>